body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.worker-queue {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  font-family: monospace;
  font-size: 11px;
  list-style-type: none;
}

.job {
  margin-right: 1px;
  margin-top: 1px;
  border: 1px solid #57f269;
  display: inline-block;
  background-color: #57f269;
}

.measurement {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 5px;
}